<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styleLogIn.css"/>
    <title>Log In</title>
</head>
<body>
<div class="v34_57">
    <div class="bg-decor bg-left">
        <img src="/images/left-bg.png" alt="Левый фон">
    </div>
    <div class="bg-decor bg-right">
        <img src="/images/right-bg.png" alt="Правый фон">
    </div>
    <div class="v37_54">
        <span class="v38_2">Вход в аккаунт</span>
        <img class="v39_167" src="/images/logo.png">
        <form class="login-form" action="index2.html" method="GET" novalidate>
            <div class="input-group">
                <label>почта</label>
                <input type="email" required>
            </div>
            <div class="input-group">
                <label>пароль</label>
                <input type="password" required>
            </div>
            <button type="submit" class="submit-btn">Войти</button>
            <div class="v39_61">
                <a class="text-button" href="#">Забыли пароль? Восстановление пароля ></a>
            </div>
        </form>
    </div>
</div>
<script src="/scripts/controller.js"></script>
</body>
</html>
